<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registro</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="../../css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <div class="content">
        <p th:if="${param.usernameAlreadyExists}" class="alert alert-error">El nombre de usuario ya existe.</p>
        <p th:if="${param.passwordMismatch}" class="alert alert-error">La clave y la confirmación no concuerdan.</p>
        <h2>Registrar una nueva cuenta</h2>
        <form class="form-horizontal" role="form" th:action="@{/signup}" action="/signup" method="POST">
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="username">Usuario: </label>
                    <div class="col-sm-10">
                        <input type="text" id="username" name="username" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="password">Clave: </label>
                    <div class="col-sm-10">
                        <input type="password" id="password" name="password" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="confirm">Confirmar: </label>
                    <div class="col-sm-10">
                        <input type="password" id="confirm" name="confirm" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" id="signup" value="Registrar" class="btn btn-primary" />
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>